@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #F2F2F2;
}

.link {
  text-decoration: none;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
}
@media screen and (max-width: 992px) {
  .header {
    width: 100%;
  }
}
.header .container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .header .container {
    max-width: 860px;
  }
}
.header .container .menu__toggle {
  opacity: 0;
}
.header .container .menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 35px;
  left: 25px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.header .container .menu__btn > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #EF7F04;
}
.header .container .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #EF7F04;
  content: "";
  top: 8px;
}
.header .container .menu__btn > span::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #EF7F04;
  content: "";
  top: -8px;
}
.header .container .menu__list {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
.header .container .menu__list__item {
  display: block;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
.header .container .menu__list__item .link {
  color: #2F2F51;
}
.header .container .menu__list__item .link:focus {
  color: #EF7F04;
}
@media screen and (min-width: 993px) {
  .header .container .menu {
    display: none;
  }
}
.header .container .main-nav {
  display: flex;
  justify-content: space-between;
}
.header .container .main-nav__list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 992px) {
  .header .container .main-nav__list {
    display: none;
  }
}
.header .container .main-nav__item {
  position: relative;
  padding: 40px 11px 38px;
}
.header .container .main-nav__item:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #EF7F04;
}
.header .container .main-nav__item .link {
  text-decoration: none;
  color: black;
}
.header .container .main-nav__item .link:hover {
  color: #EF7F04;
}
.header .container .main-nav .logo {
  margin: 17px 21px;
  height: 63px;
  width: auto;
}
@media screen and (max-width: 992px) {
  .header .container .main-nav .logo {
    margin-left: 45px;
  }
}
.header .header__list-btn {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.header .header__list-btn > .main-button + .main-button {
  margin-left: 17px;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__list {
  visibility: visible;
  left: 0;
}

.main-button {
  display: flex;
  align-items: center;
  padding: 12px 21px 13px 13px;
  border: 0px;
  border-radius: 3px;
  background-color: #EF7F04;
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 700;
}
.main-button img {
  width: 20px;
  height: 17px;
  margin: 0px 13px 0px 0px;
}
.main-button_blue {
  background-color: #3B3A63;
}
.main-button:hover {
  opacity: 0.7;
}

.call-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 40px 40px 0px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 375px;
  height: 370px;
}
@media screen and (max-width: 992px) {
  .call-form {
    display: none;
  }
}
.call-form__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 18px;
  color: #2F2F51;
  margin-bottom: 20px;
}
.call-form__input {
  margin: 7px 0px;
  padding: 10px 10px;
  border: 0px;
  background-color: #E2E2E2;
  border-radius: 3px;
  font-size: 14px;
}
.call-form__input__accept {
  font-size: 12px;
  color: #000;
  line-height: 14px;
  margin-left: 4px;
}
.call-form__input__accept .link {
  color: #4B67AF;
}
.call-form__input__accept .link:hover {
  color: #EF7F04;
}
.call-form .row {
  display: flex;
  align-items: flex-start;
}
.call-form .main-button {
  margin-top: 15px;
  width: 199px;
  align-self: center;
  padding-left: 40px;
}

.form__design {
  width: 607px;
  height: 150px;
  position: absolute;
  top: 286px;
  left: -83px;
  right: 0;
}

.main-section {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 992px) {
  .main-section {
    width: 860px;
    max-width: 100%;
  }
}
.main-section__text {
  font-size: 16px;
  font-weight: 400;
}

.main-section__title {
  font-weight: 700;
  font-size: 24px;
  color: #3B3A63;
  text-align: center;
}

.banner {
  margin-top: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 992px) {
  .banner {
    width: 100%;
    background-size: cover;
  }
}
.banner__container {
  width: 1040px;
  max-width: 100%;
  display: flex;
  padding: 30px 0px 35px 0px;
}
@media screen and (max-width: 992px) {
  .banner__container__item {
    margin-left: 60px;
    margin-bottom: 100px;
  }
}
.banner__container__item .main-section__title {
  color: #EF7F04;
  padding: 0px;
  text-align: left;
  margin-top: 20px;
}
.banner__container__item .banner__subtitle {
  font-weight: 100;
  font-size: 36px;
  color: #fff;
  line-height: 1.2em;
}
.banner__container__item .svg {
  height: 85px;
}
.banner__container__item .banner__text {
  margin-top: 25px;
  font-size: 14px;
  color: #fff;
  line-height: 18px;
}
.banner__container__item .call-form {
  margin-left: 25px;
}
@media screen and (max-width: 992px) {
  .banner__container .item__text {
    width: 70%;
  }
}

.banner__list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.banner__list__item {
  margin-right: 20px;
}
.banner__list__item:last-child {
  margin-right: 0px;
}

.form__design {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
.card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
@media screen and (max-width: 992px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
}

.card__item {
  position: relative;
  width: calc(50% - 10px);
  margin: 5px;
  padding: 55px 200px 33px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
}
@media screen and (max-width: 992px) {
  .card__item {
    max-width: 595px;
    max-height: 268px;
    width: 100%;
    margin-bottom: 38px;
  }
}
.card__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(90deg, rgb(255, 255, 255) 52%, rgba(255, 255, 255, 0.2637429972) 100%);
  border-radius: 3px;
}
.card__item .services-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.card__item .card__title {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 19px;
  z-index: 2;
}
.card__item .card__title .link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  color: #3B3A63;
  padding-left: 21px;
  line-height: 28px;
}
.card__item .card__title .link:hover {
  color: #EF7F04;
}
.card__item .card__title img {
  flex-shrink: 0;
  width: 68px;
}

.main-section__title {
  padding-top: 67px;
  padding-bottom: 43px;
}

.card__text {
  position: relative;
  z-index: 2;
}

.tab__content {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
}

.tab__text {
  width: 50%;
  padding-bottom: 46px;
  padding-left: 260px;
}
@media screen and (max-width: 992px) {
  .tab__text {
    padding-left: 50px;
    padding-bottom: 20px;
  }
}

.tab__logo {
  max-width: 198;
  max-height: 139;
  padding-top: 46px;
  padding-left: 50px;
  padding-bottom: 60px;
}

.tab__img {
  height: 100%;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: auto;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0px;
}
@media screen and (max-width: 992px) {
  .features {
    justify-content: center;
  }
}

.features__item {
  width: 30%;
  margin: 20px 10px;
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 992px) {
  .features__item {
    width: 40%;
  }
}
.features__item img {
  width: 25%;
  height: auto;
  flex-shrink: 0;
}
.features__item .features__title {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #3B3A63;
  font-weight: 700;
}
.features__item .features__description {
  padding-left: 20px;
  line-height: 26px;
}

.about__button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 85px;
  font-size: 16px;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab__content {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #F4F4F2;
}

.tab__input {
  display: none;
}

.tab__label {
  margin: 10px 10px;
  padding: 5px 15px 5px;
  border-radius: 3px;
  text-align: center;
  color: #3B3A63;
  border: 1px solid transparent;
}

.tab__label:hover {
  color: #fff;
  cursor: pointer;
  background-color: #EF7F04;
  border-radius: 3px;
}

.tab__input:checked + .tab__label {
  color: #fff;
  background-color: #EF7F04;
  border-radius: 3px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

.portfolio {
  background-color: #fff;
  border-radius: 3px;
}
@media screen and (max-width: 992px) {
  .portfolio {
    width: 100%;
    margin-bottom: 20px;
  }
}
.portfolio__list {
  display: flex;
  justify-content: center;
}

.portfolio__img {
  max-width: 215px;
  max-height: 215px;
  border-radius: 3px;
  margin: 0px 20px 71px 20px;
}
@media screen and (max-width: 992px) {
  .portfolio__img:last-child {
    display: none;
  }
}

.questions {
  background-color: #EF7F04;
  border-radius: 3px;
}
.questions .main-section__title {
  color: #fff;
}
.questions__list {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}
@media screen and (max-width: 992px) {
  .questions__list {
    width: 800px;
  }
}
.questions__list__item {
  position: relative;
  background-color: #EEEEF3;
  padding: 30px 50px 20px 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  align-items: center;
}
.questions__list__item:hover {
  background-color: #fff;
}
.questions__list__item summary {
  font-weight: 700;
  font-size: 18px;
  color: #2F2F51;
  display: block;
}
.questions__list__item summary:hover {
  color: #EF7F04;
}
.questions__list__item summary ::-webkit-details-marker {
  display: none;
}
.questions__list__item summary::after {
  position: absolute;
  top: 28px;
  right: 20px;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
}

details[open] > summary::after {
  transform: rotate(-135deg);
  top: 37px;
}

.footer {
  margin-top: 77px;
  background-color: #2F2F51;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.footer__block {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding: 60px 0px;
}
.footer__block .footer_logo {
  margin-right: 20px;
}
.footer__block .link {
  color: #fff;
  padding-right: 20px;
  font-size: 14px;
}
.footer__block .link:hover {
  color: #EF7F04;
}
.footer__block .link:last-child {
  padding-right: 0px;
}/*# sourceMappingURL=style.css.map */