* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
}

html,
body {
    position: relative;
    height: 100%;
}

:root {
    --swiper-theme-color: #0B7572;
}