.table {
    border-collapse: collapse;


    &-header {
        background-color: $main-color;
        color: $white-color;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.35em;
        border-collapse: separate;
        border-spacing: 10px;


        &__name {
            border-right: 1px solid #00000033;
            border-top: 10px solid $main-color;
            border-bottom: 10px solid $main-color;

            &:first-child {
                border-left: 10px solid $main-color;
            }

            &:last-child {
                border-right: 10px solid $main-color;
            }


        }


    }

    &-line {
        background-color: $table-color;

        td {
            padding: 15px;
            border: 1px solid #00000033;
            vertical-align: top;

            &:first-child {
                border-left: 10px solid $table-color;
            }

            &:last-child {
                border-right: 10px solid $table-color;
            }
        }

        &:first-child {

            td {
                border-top: none;
            }

        }

        &:last-child {
            td {
                border-bottom: 10px solid $table-color;
            }

        }



        &__price {
            font-family: Exo 2;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.35em;

        }
    }
}

.first-line {
    border-top: 10px solid $table-color;
}