$accent-color: #E1A661;
$error-color: #E24B33;
$promo-color: #43807F;
$dark-color: #303030;
$light-color: #F5F5F5;
$white-color: #fff;
$black-color: #000;
$rating-color: #EA8C48;
$bg-main-color: #F0F0F0;
$bg-color: #F8F8F8;
$text-color: #8F8F8F;