$main-color: #0B7572;
$white-color: #fff;
$accent-color: #FFCE50;
$main-font: #363738;
$add-font: #6B6B6C;
$other-color: #E9E9EC;
$shadow-color: #00000040;
$border-color: #CBCBCD;
$line-color: #D7D7DD;
$table-color: #F9F9FB;