@import '../var';
@import '../mixin';

.carousel-control {

    &-prev,
    &-next {
        opacity: 1;
    }

    &-icon {
        width: 54px;
        height: 54px;
        background-image: none;
        border: 1px solid $dark-color;
        border-radius: 50%;
        padding: 13px 13px 12px;
        opacity: 1;

        &:hover {
            background-color: $light-color;
        }
    }

    &-array {
        background-image: none;
        border: solid $dark-color;
        border-width: 0 2px 2px 0;
        width: auto;
        height: auto;
        padding: 3px;

        &_prev {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        &_next {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
    }
}