.call-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 40px 40px 0px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 375px;
    height: 370px;

    @media screen and (max-width: 992px) {
        display: none;
    }

    &__title {
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        font-size: 18px;
        color: $font-color;
        margin-bottom: 20px;
    }

    &__input {
        margin: 7px 0px;
        padding: 10px 10px;
        border: 0px;
        background-color: #E2E2E2;
        border-radius: 3px;
        font-size: 14px;

        &__accept {
            font-size: 12px;
            color: #000;
            line-height: 14px;
            margin-left: 4px;

            .link {
                color: #4B67AF;

                &:hover {
                    color: $brand-color;
                }
            }
        }

    }

    .row {
        display: flex;
        align-items: flex-start;


    }

    .main-button {
        margin-top: 15px;
        width: 199px;
        align-self: center;
        padding-left: 40px;
    }
}

.form__design {
    width: 607px;
    height: 150px;
    position: absolute;
    top: 286px;
    left: -83px;
    right: 0;
}