.portfolio {
    background-color: #fff;
    border-radius: 3px;

    @media screen and (max-width: 992px) {
        width: 100%;
        margin-bottom: 20px;

    }

    &__list {
        display: flex;
        justify-content: center;

    }


}

.portfolio__img {
    max-width: 215px;
    max-height: 215px;
    border-radius: 3px;
    margin: 0px 20px 71px 20px;

    &:last-child {

        @media screen and (max-width: 992px) {
            display: none;

        }
    }
}