.questions {
    background-color: $brand-color;
    border-radius: 3px;


    .main-section__title {
        color: #fff;
    }

    &__list {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 25px;

        @media screen and (max-width: 992px) {
            width: 800px;
        }

        &__item {
            position: relative;
            background-color: #EEEEF3;
            padding: 30px 50px 20px 20px;
            margin-bottom: 20px;
            border-radius: 3px;
            align-items: center;

            &:hover {
                background-color: #fff;

            }




            summary {
                font-weight: 700;
                font-size: 18px;
                color: $font-color;
                display: block;

                &:hover {
                    color: $brand-color;
                }

                ::-webkit-details-marker {
                    display: none;
                }

                &::after {
                    position: absolute;
                    top: 28px;
                    right: 20px;
                    // content: url(../../img/iconclosed.svg);
                    content: '';
                    display: block;
                    width: 15px;
                    height: 15px;
                    border: 2px solid;
                    border-left: none;
                    border-top: none;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

details[open]>summary::after {
    // content: url(../../img/iconopen.svg);
    transform: rotate(-135deg);
    top: 37px;


}