.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab__content {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #F4F4F2;
}


.tab__input {
    display: none;
}

.tab__label {
    margin: 10px 10px;
    padding: 5px 15px 5px;
    border-radius: 3px;
    text-align: center;
    color: $other-color;
    border: 1px solid transparent;
}

.tab__label:hover {
    color: #fff;
    cursor: pointer;
    background-color: $brand-color;
    border-radius: 3px;
}

.tab__input:checked+.tab__label {
    color: #fff;
    background-color: $brand-color;
    border-radius: 3px;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
    display: block;
}