.product-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: calc(25% - 20px);
    padding: 20px;
    border: 1px solid #D58C51;
    color: #fff;


    &__img {
        width: 100%;
    }

    &__price {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-top: auto;


    }

    &:hover {
        color: #D58C51;
    }

    .button-icon {
        margin-left: auto;
    }
}




.product-card__title,
.product-card__price {
    font-size: 17px;
    line-height: 21px;
    font-weight: 500;
}

.product-card__description,
.product-card__price-weight {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}